body {
  background-color: blue;
}
h1 {
  color:white;
    margin-left: 20px
}
h2 {
  text-align: center;
}
h5 {
color:white;
}
p {
  color:white;
}
th {

}
div {
  background-color:
}
.bgunavbar {
  background: #3cb371!important;
}
